* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: system-ui, sans-serif;
    color: black;
    background-color: white;
}
 
.canvas {
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
}

h1 {
    font-weight: bold;
    font-size: 1.5rem;
}

.button {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
}

span {
    display: block;
} 

#grey {
    background-color: grey;
}

#white {
    background-color: white;
}

#blue {
    background-color: blue;
}

#yellow {
    background-color: yellow;
}